.banner-about{
  width: 100vw;
  background-color: $blue;
  .banner-about-container{
    text-align: center;
    .title{
      font-family: $oswald;
      color: $beige;
      text-transform: uppercase;
      font-size: 2rem;
      padding: 15px 0;
    }
  }
}